.navbar_bg{
    background: rgba(000, 000, 000, 0.4);
    color: #fafafa;
}

.container_lines{
    background: transparent;
}

.links_style{
    color: #fafafa;
    padding: 15px;
    font-size: 14pt;
}

.active_link{
    border-bottom: 3px solid #f1c833;
}