.container_section {
    background: rgba(000, 000, 000, 0.4);
    height: auto;
    border-radius: 12px;
}

.subtitle_text {
    color: #74727f;
    font-weight: 600;
}

.title_proyect{
    color: #f1c833;
    margin-bottom: 0px !important;
    margin-top: 3% !important
}

.subtitle_proyect{
    color: #fafafa
}

.url_proyect{
    color: #0000FF 
}